.storybook-font--text1 {
  font-family: 'Rajdhani', sans-serif;
}
.storybook-font--text2 {
  font-family: 'Raleway', sans-serif;
}
.storybook-font--text3 {
  font-family: 'Bebas Neue', cursive;
}
.storybook-font--text4 {
  font-family: 'Bebas Neue', cursive;
}
