.storybook-font--text1 {
  font-family: 'Rajdhani', sans-serif;
}
.storybook-font--text2 {
  font-family: 'Raleway', sans-serif;
}
.storybook-font--text3 {
  font-family: 'Bebas Neue', cursive;
  -webkit-text-stroke: 0.001px black;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
}
.storybook-font--text4 {
  font-family: 'Bebas Neue', cursive;
}
