font-face {
  font-family: "Bebas-Neue";
  src: url("../assets/fonts/BebasNeue-Regular.ttf");
}
.storybook-font--text1 {
  font-family: "Bebas-Neue";
  font-weight: 700;
}
.storybook-font--text2 {
  font-family: "Bebas Neue";
  font-weight: 700;
}
.storybook-font--text4 {
  font-family: "Bebas Neue";
  font-weight: 700;
}
.storybook-font--text2 {
  font-family: "Bebas Neue";
  font-weight: 700;
}
