.storybook-button {
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: 100px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--primary {
  color: #202020;
  background-color: #FFFFFF;
  border-color: #202020;
}
.storybook-button--primary:hover {
  color: #FFFFFF;
  background-color: #202020;
}
.storybook-button--secondary {
  color: #FFFFFF;
  background-color: #202020;
  border-color: #FFFFFF;
}
.storybook-button--secondary:hover {
  color: #202020;
  background-color: #FFFFFF;
  border-color: #202020;
}
.storybook-icon {
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
